.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#work-collections p.collections-title{font-size:1.0rem;padding:0;margin:0;font-weight:500}#work-collections p.collections-content{font-size:0.9rem;padding:0;margin:0;font-weight:400}#work-collections .collection-item.avatar{height:auto;padding-top:22px}
#task-card .task-cat{padding:2px 4px;color:#fff;margin-left:37px;font-weight:300;font-size:0.8rem;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-clip:padding-box}.task-cat{padding:2px 4px;color:#fff;font-weight:300;font-size:0.8rem;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-clip:padding-box}
